<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/server_lobby.css" %}"/>
    <script type="text/javascript" src="{% static "js/server_lobby.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <table class="table" border="1" style="background-color: rgba(70, 100, 120, 0.1)">
          {% for game in game_list %}
            <div class="row justify-content-between">
              <button type="button" name="button">
                <tr id="game{{ forloop.counter }}" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" style="background-color: rgba(10, 140, 130, 0.1)" onclick="getGameInfo( '{{ csrf_token }}', '{{ forloop.counter }}', updateGameInfo)">
                  <td class="col-4">
                    <p>{{ game.name }}</p>
                  </td>
                  <td class="col-4">
                    {{ forloop.counter }}
                  </td>
                  <td class="col-4">
                    {% for name in game.pl_info %}
                      {{ name }}
                    {% endfor %}
                  </td>
                </tr>
              </button>
            </div>
          {% endfor %}

        </table>
      </div>

      <div id="game_info" class="col-sm-6 col-md-6 col-lg-6">
        <h3 align="center">INFO</h3>
        <div class="info_row">
          <div id="dice" class="info_column"></div>
          <div id="cycles" class="info_column"></div>
        </div>
        <br>
        <div class="info_row">
          <div id="credit" class="info_column"></div>
          <div id="termination" class="info_column"></div>
        </div>
        <br>
        <h3 align="center">SETUP</h3>
        <div id="cell_grid" class="grid">

        </div>
        <br>
        <h3 align="center">DECK</h3>
        <div id="card_list" class="card_deck">
        </div>
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="background-color:rgba(0, 140, 0, 0.6)" onclick="joinGame( '{{ csrf_token }}' )">JOIN</button>
      </div>

    </div>
  </body>

  <script type="text/javascript">
    function refresh() { window.location.href = window.location.href; }
    setInterval('updateGameList("{{ csrf_token }}", updateGameInfo)', 3000);
  </script>


  <script type="text/javascript">

    $(document).ready(function() {
      // updater.start();
    });

    var updater = {
      socket: null,

      start: function() {
        var url = "ws://" + "127.0.0.1:8888/";
        updater.scoket = new WebSocket(url);
        updater.socket.onmessage = function(event) {
          // console.log(event.data)
          updater.updateView(event.data);
        }
      },

      updateView: function(changeCmd) {
        if(changeCmd == 'j') {
          updateGameList('{{ csrf_token }}', updateGameInfo);
        }
        else if(changeCmd == 'roll' || changeCmd == 'ready'){
          updateInGame('{{ csrf_token }}');
        }

      }

    };
  </script>

</html>
