<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
  </head>
  <body>
    <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Register</strong>
      </h5>
      <div class="card body px-lg-5 pt-0 row" id="innerCard">
        {% if isRegistered %}
          <h1>Succesfully registered!</h1>
          <a href="../login/">Back to login page!</a>
        {% else %}
          <form action="./" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}

            <button id="register_button" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
          </form>
        {% endif %}
      </div>
    </div>
  </body>
</html>
